{% extends "blog/base.html" %}
{% block content %}
   
    <article class="media content-section">
        <img src="{{ object.author.profile.image.url }}" alt="profile_pic" class="rounded-circle article-img">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>

            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1" >Update</a>
                <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1" >Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.hostel_name }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div class="article-specs">
            <br><hr>
            <details>
            <summary><button type="button" class="btn btn-warning">Food Details</button></summary><br>
                <p> Breakfast:&nbsp;
                    {% if object.breakfast %}
                    <button type="button" class="btn btn-success">Provided</button>
                    {% else %}
                    <button type="button" class="btn btn-danger">Not Provided</button>
                    {% endif %}
                </p>
                <p> Lunch:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if object.lunch %}
                    <button type="button" class="btn btn-success">Provided</button>
                    {% else %}
                    <button type="button" class="btn btn-danger">Not Provided</button>
                    {% endif %}
                </p>
                <p> Dinner:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if object.dinner %}
                    <button type="button" class="btn btn-success">Provided</button>
                    {% else %}
                    <button type="button" class="btn btn-danger">Not Provided</button>
                    {% endif %}
                </p>
            </details>
            <hr><br>
            <details>
                <summary><button type="button" class="btn btn-warning">Utilities Provided</button></summary><br>
                    <p> Transportation:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if object.transportation %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                    <p> CCTV:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if object.cctv %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                    <p> Fridge:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if object.fridge %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                    <p> Washing Machine:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                        {% if object.washing_machine %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                    <p> Geyser:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if object.geyser %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                    <p> AC:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if object.ac %}
                        <button type="button" class="btn btn-success">Provided</button>
                        {% else %}
                        <button type="button" class="btn btn-danger">Not Provided</button>
                        {% endif %}
                    </p>
                </details>
                <hr><br>
        
        <p class="article-content">Area:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;   <button type="button" class="btn btn-primary">{{ object.area}}</button></p>
        <p class="article-content">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-secondary">{{ object.city}}</button></p>
        <p class="article-content">Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-light">{{ object.address}}</button></p>
        <p class="article-content">Avg Rating:&nbsp; <button type="button" class="btn btn-info">4</button></p>
        <p class="article-content">Contact:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <button type="button" class="btn btn-dark"> {{ object.contact }}</button></p>
        {% if object.author == user %}
        <a href="{% url 'room-category-create' %}">New Room Category</a>
        {% endif %}



        {% for rc in posts %}
           
            <div class="xxx container divcard container-card ">
              <div class="www row row-card divcard ">
                  <div class="border col-md-6 row-card divcard ">
                      <div class="card shadow divcard " style="width: 20rem; height:30rem;">
                          <div class="inner divcard ">
                              <!-- <img class="card-img-top" src="{{ post.author.profile.image.url }}" alt="Card image cap"> -->
                              <img src="{{ post.author.profile.image.url }}" alt="profile_pic" class="card-img-top">    
                          </div>
                          <div class="card-body divcard">
                            <p><a href="{% url 'post-detail' post.id %}" class="btn btn-dark h_name">{{ post.hostel_name }}</a></p>
                            
                            <p class="card-text2"><br>
                              Address : {{ post.address }}
                              <br><br>
                              Area :
                              <a href="#" class="btn btn-primary area">{{ post.area }}</a></p>
                              <p>Rating :
                              {% with ''|center:4 as range %}
                              {% for _ in range %}
                                <span class="fa fa-star checked"></span>
                              {% endfor %}
                              {% endwith %}
                              <span class="fa fa-star "></span>
                            </p>
                            
                          
                            <br>
        
                            <a href="#" class="btn btn-success">Contact :  91099 - 44234</a>
                             <a href="{% url 'user-posts' post.author.username %}" class="btn btn-dark">{{ post.author }}</a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>

              
            
          
    {% endfor %}




        </div>
    </article>

{% endblock content %}